@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Sans+JP&display=swap');

main div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

div.cards {
    padding: 10px;
    background-color: #dededf;
    box-shadow: 0 0 15px 5px gray;
}

div.cards section {
    border: 3px solid #231788;
    background-color: #d0cee2;
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

div.cards section img {
    width: 200px;
    box-shadow: 0 0 5px 5px gray;
}

@media only screen and (min-width: 35rem) {
    main div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media only screen and (min-width: 64rem) {
    main div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

h1,
h2 {
    color: #231788;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 10px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .8rem;
    margin: 0;
}

section p:nth-child(3) {
    margin-bottom: 15px;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}