@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;900&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    max-width: 100vw;
}

table {
    text-align: center;
    background-color: lightgray;
    margin: 3rem auto;
    box-shadow: 10px 10px 10px #628ca6;
}

thead {
    font-size: 1.2rem;
}

table thead:first-child {
    font-size: 1.6rem;
    font-weight: 900;
}

td, th {
    padding: .5rem .8rem;
}

thead, tfoot {
    background-color: #7fb9c2  ;
}

tbody {
    background-color: #e7f0ed;
}

tbody tr:nth-of-type(even) {
    background-color: #e7ffed;
}

.special {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: .8rem;
}