@media only screen and (min-width: 64rem) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff6700+1,d65900+100 */
        background: rgb(255, 103, 0);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 103, 0, 1) 1%, rgba(214, 89, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 103, 0, 1) 1%, rgba(214, 89, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 103, 0, 1) 1%, rgba(214, 89, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6700', endColorstr='#d65900', GradientType=0);
        /* IE6-9 */
    }

    nav ul li a {
        height: 54.4px;
        border-bottom: none;
        font-size: 1.25rem;
        text-align: center;
        color: #ebebeb;
        filter: brightness(1.5);
    }


    nav ul li a:hover {
        background-color: #3a6ea5;
        filter: brightness(1.25);
    }

    .hero-image img {
        border-radius: 0 0 5px 5px;
    }

    .cards-locals,
    .cards-locals-dir,
    .board-directors {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5rem;
    }

    .cards-locals h2,
    .weather h2,
    .cards-locals-dir h2,
    .board-directors h2 {
        grid-column: span 3;
    }
}